body {
  margin: 2%;
}

.webpageHead {
  background-color: #423e37;
  overflow: hidden;
}

/* WEBPAGE TOP NAVIGATION */

.topnav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.topnav-menu {
  float: right;
}

a {
  text-decoration: none;
  display: block;
  padding: 8px;
  color: #edebd7;
  padding: 14px 16px;
}

.topnav a:hover {
    color: #A39594;
}


.topnav-logo {
    float: left;
    margin: 35px;
}

h1 {
  color: #e3b23c;

}

h1 a:hover {
    color: #A39594;
}


/* WEBPAGE FOOTER */

footer {
    background-color: #423e37;
    color: #edebd7;
    text-align: center;
}


